<section class="todolist-wrapper">
    <h1 class="title">TODO APP</h1>
    <div class="new-todo">
        <input type="text" placeholder="Write new task" (keydown.enter)="addTodo()" [formControl] = "newTodo">
        <button (click)="addTodo()">Add</button>
    </div>

    <div class="filters">
        <button (click)="changeFilter('all')" [class.active]="filter() === 'all'">All</button>
        <button (click)="changeFilter('active')" [class.active]="filter() === 'active'">Active</button>
        <button (click)="changeFilter('completed')" [class.active]="filter() === 'completed'">Completed</button>
    </div>

    <ul class="todolist">
        @for (todo of todoListFiltered(); track todo.id) {
            @if (todo.editing) {
                <!-- editing -->
                <li class="todo-editing">
                    <input type="text" placeholder="Editing task" [value]="todo.title"  (keydown.enter)="saveTitleTodo(todo.id, $event)">
                </li>   
            }@else {
                <!-- already edited -->
                <li class="todo">
                    <input type="checkbox" [checked]="todo.completed" (click)="toggleTodo(todo.id)">
                    <label>{{todo.title}}</label>
                    @if (!todo.completed) {
                        <button (click)="updateTodoEditingMode(todo.id)">Edit</button>
                    }
                    <button (click)="removeTodo(todo.id)" >Delete</button>
                </li>
            }
        }
    </ul>

</section>